@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    height: 100vh;
}

.lin-grad{  
background: linear-gradient(180deg, rgba(255, 199, 58, 0.073) -60.06%, #FFC83A 65.85%);
filter: blur(10px);
transform: rotateX(30deg);
}



/* //testing water animation */
.bodi {
  height: 100vh;
  width: 100vw;
  background-color: #1e4a5a;
  text-align: center;
}
.flask {
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  border: 5px solid #eee;
  border-radius: 2px 2px 15px 15px;
  border-top: 0;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAAdYCAYAAAB1mYZTAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAbpUlEQVR4Xu3bW69c50GA4bV9PuTcJjRt0wOqAFVIPQDiIG4QXAAS4opfwD/gZ/ATkEBwARK9QEhISFTiFilQUVqEEIgeoYRAkiZOHMd2bPN9c9h79rb9xnFi106eJ157zntm1nzvfGvNnuzdGJZ74Nr1G8sb164vr719Y7l09e3lyjh9bdzVG9duLMfG5W+O0+PfcmP8d+7YseXY3rKMf8v543vLib295eSJ4+P4seWxE8eWc+O84/MKcJ+960DGeF++ffHy8s1X31q+8fLF5fuXri4vXn57+d9LV5b/vnxtefWtq8vlEcZy5dr6BnNcjwG/Ojxqe96tHsE8bz607WUnjy8nRijnT51Yfuz0ieXJU8eXZ8bhU6dPLs+ePr585rGzyxcfO708d/7U8vGzJzc3gvfmtoG8Mgb41155c/nGq5eWv3nhwur4ayOM1aCdA371lr8Z+KuTe6uz5uE8a84S0/UxO4w7WR2/MS9bHT16l3vjsnGbG9eX6+OW49T6NvP3r4x5Zpwc2a0Px4/t8fWPYTUdbZdxetz21JkTyyfPnlo+/8TZ5Rc/cn757COnls89cnr5iUdPL4+P4OCd7Afy0pgF/vS7P1z++oXXlufHzPDa6yOG8Y69HvXHlpPjcJ7cDtmtG3szhbmhNC+bl65+3bA+Pob6+G8z4N/BDOjo7bbWca1P3/J37ce0vvX8NyOam3Vzc2+zPTeW8WNu5p05uXxuhPJTj51ZBfNrH3t8+dmnzi4fGTMTTF8fW0l7v/v892/84X/837KM/YRlbO/vxzCOrt/t11ZHNzEcMk7uDuTb2hnAt3XHEc27PRzQTdG8w/3NcN5e7QeN282bzs3CGdG43flzp5ZfGDPOrz/72PKFMft88clzy9NjM44PvkvjzfOPv/Py8ntf/8Hy1puXxxj7s6/dODVqWG0aHRlk28E4E1iPolsNxP0f98fR+x8OR7M5tnu9d4hl15xQxzparq5mnU0044yzY9/mCyOUnxnLb33i8eVXn3lkvJ/cx+fNPfUnY+vpD8ZE8Xc/eHVsOY1JYmyCH59NnP3zf9wfSXOgHXpnHgc3zQ7vYrDdN7cMey7r89/t7HKzOdvMDyjGxtsqmE04J44vX/roI8vvPPfE8ktPn19++elHFvPMw+G7F6+M3YkLy+//64vL9165uIpibkGdGW96ezvjYxXIbhiH33n3fzxcdp7DNpb5IcB8bnc7sxw1Z5r5m+bH1ze2wYx/n33q3PLzT51ffvMTTyy/8bFHl4/aNHtgfPXFN5Y/+tZLy9+++Pry0muXlrEvsRyfs8WRKHbtnfnKP93YuzFe4K33MGgeSEeCvz72o7b7Vu/3857RXB3L6kOBuZ02wxkr/+OPnll++7knx37NueXLYxPtpx8/s7kF98oPLl1dnn/p4vJXY5b4i+//cLnwxuZDpzFLnBj72XPz+E5e8fUm1uqa732APPB2Ytnfb1kFc/19m1l2zd84o5mbZtdmMDOcuV8z7vOTj51ZPj9C+fw4/JWPPbb83Jh5nj1zYn1D3pX5Nvf8y28uf/lfry5///LF5R9eeXO5OINYfei0t5wcs8TqE9i7eF33zn7l6zsj40PkpljWe1s3b2a+P7HsOphpVifW0Ww20ZbTJ5bPzE/Rnn50+dITZ5fPPXJq+fT5U8uPP3J69cfRD7MLV68v/zI2jf7t9csjhDeXr/7PheVbc1Pp7WvrP0fM/YgZxHjN3q8PUD68gew6FMuxTShjuc+bnjOceY+3/NvNPH7y+PLMudPLc+dOLJ8aET175uTy6bH59uXHTy+fOn9meebM8eWJh/wPoK9cfnv53tg8+torl5Zv/vDi8u03rizfGTvU/37hreXa5avrEOZrMQ7n14+2m0p3MzvcCYEctYnl4IOL1al7Pqu8s/V311bxjMMZ06F4tsenOXhGKOdOnlh9DeeJM6eWn3z01PKJsQn3+OmTy0fn99vG5Y+O5ckTe8up+b23sTw+dlrPjdueGs/v1Ljs1F0+zSvjYVy++vby1qj9lfHufuHKteWNq9eWl8cMcGEM8heuXF9efPPy8s+vX1n+8/W3lhfeurq8Ob+aNGeCaTyGbQTzcB7MEOZf4e5VCLcjkNvZCWIVy1jmzv2D/oHGKpxhPsp5dAY1z1l9PD3NMzdHd5/jocDmwWZzZdrbHE4njzzleT/z+3nz7P1oVyWPwb5dP9vbb0/Pg3l8LKu7GWfMq6zP3lznASGQO7EzkFafgm1G2I9+Vrl35mDfPrs7HSCrAb4++sAN9Ls1Zy3eyebdbr768wuV2zBmLNtPw1YR7QbzkJsDfP0F1PkdvDtbVt/G2CwfFAJ5V7ahzM2tG/uxzB37/Vi2oXyAYvkwE8jd2oSyamaEMmOZZiQzlvUJoTzsBPKebUNZzyrbmWW9Yz9nlbGKt6GI5aEjkPfTJpSDWMasMg7n/zR2Yy7zMrE8VARyr2xDWcaMcn3sq8y/lg/bUMTygNu8LgK51zah7M8qM5ZVEOtNMDv3D5Cd12C7iSyQ++lQLDOUg537bSg37bPMhXtrZz2v3rTGLD+tXp/VMe6/Q7EcfGQ8XqJVKAd/YxnL9gXcvIi8D3bW6Wp9rzZ919/sXm0Sz8vG+QJ5EMwQNstqM2wsB39j2Z1djsQyF+7c7npbrc+xXjezxTqK9Wy+/3oMAnnQbF+c1TL+jRfzYHZZR7J6YTcv4KEXnZsdWT/bKFanxnn7+4S7632HQB5oOy/aWNb7LZuPj4eDWDbBbAfCdvmwOrIOtutozsSrdbiJYqy9g/V7GwJ5mGxfzLGsQ1nHcufBzOUD6MjzPLweZhTr9bT9QGR3Pb4TgTysdl/ksdwqmO2O50Ew48zNIDq0PExu8fh3g5izxLRdD+t1Ma63s67eDYF8UOwOgLHMWLY7nttg1gPp4BObVTSrC24edPvLj9ItHs/2OWxj2D6H7fPc31+b5+8ud0kgH1RHBsjBDHMQznQQzPZdeDMAV/s/8wo3D9LbLuXQ9XaO3+r0ZtkNefv4pvmwdmN4P4M4SiAfFkcH0FgOBzOPb959V9cfY3Tuxq4G6HqQHoS0s6yus15WA3sO9qPLOH/3NvOs7e9azQI35u8+Pk7v/v6DfYft49x/fHOZv2d3uUcE8mF2dJBtloMBuR2U64F5ENIcpOOq6x+HjEtvueyap7e/azUL7M3ffW3/ftbL+vjRx7a/3CcC4Wa3GpBHljmox0jfGdDrwXzLPMZ1d6+3uu3u/Yxr7R8/uvyICYS7dLvBPA9vsRy63vbwwScQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBC4rWX5fxfY60v7kNtVAAAAAElFTkSuQmCC");
  background-size: 100% auto;
  background-repeat: repeat-x;
  background-position: left 300px;
  background-color: #ffffff;
  animation: wave 6s infinite linear;
  will-change: background-position;
  position: relative;
  opacity: 0.9;
}
/* @-moz-keyframes wave {
  0% {
    background-position: left 300px;
  }
  70% {
    background-position: 1100px 50px;
  }
  0% {
    background-position: left 300px;
  }
}
@-webkit-keyframes wave {
  0% {
    background-position: left 300px;
  }
  70% {
    background-position: 1100px 50px;
  }
  0% {
    background-position: left 300px;
  }
}
@-o-keyframes wave {
  0% {
    background-position: left 300px;
  }
  70% {
    background-position: 1100px 50px;
  }
  0% {
    background-position: left 300px;
  }
} */
@keyframes wave {
  0% {
    background-position: left 300px;
  }
  30% {
    background-position: 1500px 50px;
  }
  70% {
    background-position: 1500px 50px;
  }
  0% {
    background-position: left 300px;
  }
}
